# Node
node_modules/
dist/

# Python
.venv/
.venv-1/
*.pyc
__pycache__/

# Editor/IDE
.vscode/

# Environment
.env

# Analys av historisk data
cupsyy_pools.json

# Ignorera lokal datafil
data/launchlab_pools.json
